#login-section, #register-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    width: 100%;
    height: 100%;

    margin: 0;
}

#login-form, #register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.6rem;

    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-right: 4rem;
    padding-left: 4rem;

    border-radius: 6px;

    color: white;
    background-color: var(--penn-blue);

    color: var(--penn-blue);
    background-color: white;
}

#login-form input, #register-form input {
    margin-bottom: 0.8rem;
    padding: 0.8rem 1rem 0.8rem 1rem;

    border: 1px solid gray;
    border-radius: 6px;

    box-sizing: border-box;
}

#login-form button, #register-form button {
    flex: 0.3;
    
    padding: 1rem;
    border: none;
    border-radius: 6px;
    
    background-color: var(--penn-blue);
    color: white;
    
    cursor: pointer;
}
  
#login-form button:hover, #register-form button:hover {
    background-color: var(--lapis-lazuli);
}

#login-form a, #register-form a {
    align-self: center;
    text-decoration: none;
    color: var(--penn-blue);
}