#filters {
  width: 100%;
}

#filters ol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;

  list-style: none;
}

.range-filter {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}

.range-filter input {
  width: 6rem;
}

@media all and (max-width: 992px) {
  #filters {
    width: 100%;
  }

  #filters ol {
    flex-direction: column;
    width: 100%;
  }

  .search-filter select, input {
    width: 100%;
  }
  .range-filter input {
    width: 100%;
  }
}

#filters-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.6rem;

  margin: 0;
  padding: 0;
  padding-top: 1rem;

  list-style: none;
}

#filters-list li {
  display: flex;
  flex-direction: column;

  border: 1px solid gray;
  border-radius: 6px;
}

#filters-list li label {
  margin: 0;
  padding: 0.4rem 0.6rem 0.4rem 0rem;

  font-size: 0.9rem;
}

#filters-list li {
  border: none;
}

#filters-list p {
  margin: 0;
  padding-bottom: 0.4rem;
}

#filters-list li select, #filters-list li input {
  width: 12rem;

  padding: 0.8rem 1rem 0.8rem 1rem;
  background-color: white;
  border: none;
  border-radius: 6px;

  font-size: 1rem;
}